@model AddContentViewModel

@{
    ViewData["Title"] = "افزودن مطلب";

    var placeList = Model.GetPublishPlacesListItems();
    var KeywordList = Model.GetKeywordsListItems();
    var categoryList = Model.GetCategoriesListItems();

}




@section Styles
{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/froala_editor.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/froala_style.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/code_view.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/colors.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/emoticons.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/image_manager.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/image.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/line_breaker.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/table.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/char_counter.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/video.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/fullscreen.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/quick_insert.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/plugins/file.css">
    <link rel="stylesheet" href="~/vendor/froala-editor/css/themes/dark.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.css">

}









<div class="row d-flex justify-content-center">
    <form method="post" id="formContent" asp-controller="Content" asp-action="Add" class="w-100 d-flex">
        <div class="col-9 card">
            <div class="row d-flex justify-content-between card-header align-items-center">
                <h3 class="title-5 ">محتوا</h3>
                <div>
                    <a class="btn btn-warning  text-dark" id="sendContent">
                        <i class="zmdi zmdi-plus"> افزودن </i>
                    </a>
                </div>
            </div>

            <div class="card-body">
                <div class="row col-9">
                    <div class="form-group w-100">
                        <label asp-for="@Model.Title" class="form-control-label"></label>
                        <input type="text" asp-for="@Model.Title" class="form-control" required maxlength="100">
                    </div>
                    <br />
                    <div class="form-group  w-100">
                        <label asp-for="@Model.Description" class="form-control-label"></label>
                        <textarea asp-for="@Model.Description" class="form-control" required maxlength="500"></textarea>
                    </div>
                </div>
                <div class="row">
                    <section id="editor" class="w-100">
                        <div id='edit' class="w-100 mt-3">
                        </div>
                    </section>
                </div>

            </div>
        </div>
        <div class="col-3">

            <input type="hidden" value="" id="formValue" asp-for="@Model.Body" required>

            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <div asp-validation-summary="All" class="text-danger my-1">
                        </div>
                        <hr />
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.Rate" class="form-control-label"></label>
                        <input type="number" asp-for="@Model.Rate" class="form-control" min="0" max="10">
                    </div>
                    <div class="form-group">
                        <label asp-for="@Model.PublishDate" class="form-control-label"></label>
                        <input type="datetime" asp-for="@Model.PublishDate" value="@Model.PublishDate" class="form-control" required>
                    </div>


                    <div class="form-group">
                        <label asp-for="@Model.CategoryId" class="form-control-label"></label>
                        <a class="btn btn-warning float-left" style="padding: 0 10px;line-height: 30px;font-size: 14px;"
                           asp-controller="Category" asp-action="Add" target="_blank">
                            <i class="zmdi zmdi-plus"> افزودن </i>
                        </a>
                        <br />
                        <div class="rs-select2--dark rs-select2--md m-l-10 w-100">
                            @if (categoryList == null)
                            {
                                <select class="js-select2 w-100" disabled>
                                </select>
                            }
                            else
                            {
                                <select class="js-select2 w-100" asp-items="@categoryList"
                                        asp-for="@Model.CategoryId" required>
                                </select>
                            }
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.KeywordsId" class="form-control-label"></label>

                        <button type="button" class="btn btn-warning btn-sm float-left" data-toggle="modal" data-target="#addKeywordModal">
                            <i class="zmdi zmdi-plus"> افزودن </i>
                        </button>

                        <br />
                        <div class="rs-select2--dark rs-select2--md m-l-10 w-100">
                            
                            <select id="selectKeyword" class="js-select2" asp-items="@KeywordList"
                                    asp-for="@Model.KeywordsId" multiple="multiple">
                            </select>
                            
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label asp-for="@Model.PublishPlacesId" class="form-control-label"></label>
                        <div class="rs-select2--dark rs-select2--md m-l-10 w-100">
                            @if (placeList == null)
                            {
                                <select class="js-select2 w-100" disabled>
                                </select>
                            }
                            else
                            {
                                <select class="js-select2" asp-items="@placeList"
                                        asp-for="@Model.PublishPlacesId" multiple="multiple" required>
                                </select>
                            }
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

    </form>
</div>

















@section Modals
{

    <div class="modal fade" id="addKeywordModal" tabindex="-1" role="dialog" aria-labelledby="smallmodalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm" role="document">

            <form method="post" asp-controller="Keyword" asp-action="AddKeyword" id="keywordForm">
                <div class="modal-content">
                    <div class="modal-header">
                        <i class="fas fa-tag mx-1"></i>
                        <small>افزودن</small>
                        <strong class="card-title pr-2 modal-title">کلید واژه</strong>

                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label asp-for="@Model.AddKeywordViewModel.Name" class="form-control-label"></label>
                            <input type="text" name="name" asp-for="@Model.AddKeywordViewModel.Name" class="form-control" required maxlength="50" autofocus>
                        </div>

                        <div class="form-group">
                            <div id="divSummaryKeyword" asp-validation-summary="All" class="text-danger mr-3"></div>
                        </div>

                    </div>
                    <div class="modal-footer">
                        <button type="button" id="closeKeywordForm" class="btn btn-dark btn-sm" data-dismiss="modal">انصراف</button>
                        <button type="button" id="sendKeywordForm" class="btn btn-warning btn-sm px-3" value="افزودن">افزودن</button>
                    </div>
                </div>
            </form>
        </div>
    </div>



}











<div id="hiddenBody" class="d-none">@Model.Body</div>



@section Scripts
{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/codemirror.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.3.0/mode/xml/xml.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/froala_editor.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/draggable.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/char_counter.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/languages/fa.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/align.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/code_beautifier.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/code_view.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/colors.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/emoticons.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/font_size.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/font_family.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/image.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/file.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/image_manager.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/line_breaker.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/link.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/lists.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/paragraph_format.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/paragraph_style.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/video.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/table.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/url.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/entities.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/inline_style.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/save.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/fullscreen.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/quick_insert.min.js"></script>
    <script type="text/javascript" src="~/vendor/froala-editor/js/plugins/quote.min.js"></script>
    <script type="text/javascript" src="~/vendor/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="~/js/main.js"></script>


    <script>
        $(function () {
            var editor = new FroalaEditor("#edit", {
                theme: 'dark',
                language: 'fa',
                dragInline: false,
                fileAllowedTypes: ['application/pdf', 'application/msword', 'application/vnd.ms-excel',
                    'application/vnd.ms-powerpoint', 'officedocument', 'text/plain', 'audio/mp3', 'image/gif',
                    'image/jpeg', 'image/png', 'video/mp4'],
                fontSizeUnit: 'pt',
                direction: 'rtl',
                fullPage: true,

            },
                function () {
                editor.html.set($("#hiddenBody").text());
            });

            $("#sendContent").click(function () {
                $("#formValue").val(editor.html.get());
                $("#formContent").submit();
            });

            $("button[data-dismiss=modal]").click(function () {
                $("#divSummaryKeyword").html("");
                $("input[name=name]").val("");
            });

            $("#sendKeywordForm").click(function () {
                var formData = {
                    'Name' : $('input[name=name]').val(),
                };

                $.ajax({
                    type: 'POST',
                    url: $("#keywordForm").attr('action'),
                    data: formData,
                    encode: true
                }).done(function (data) {
                    data = JSON.parse(data);
                    if (data["IsSuccess"] == true) {
                        $("#closeKeywordForm").click();
                        $.ajax({
                            type: 'GET',
                            url: '/Keyword/GetKeywords',
                            encode: true
                        }).done(function (data) {
                            data = JSON.parse(data);
                            $('#selectKeyword').val(null).trigger('change');
                            for (var i = 0; i < data.length; i++) {
                                if ($('#selectKeyword').find("option[value='" + data[i]["Value"] + "']").length) {
                                    continue;
                                } else {
                                    var newOption = new Option(data[i]["Text"], data[i]["Value"], false, false);
                                    $('#selectKeyword').append(newOption).trigger('change');
                                }
                            }
                        });      
                    }
                    else {
                        var result = "";
                        for (var i = 0; i < data["Errors"].length; i++) {
                            result += '<li>' + data["Errors"][i] + '</li>';
                        }
                        $("#divSummaryKeyword").html(result);
                    }
                });
            });



        })();
    </script>



}