@model List<DtoListContent>
@{
    ViewData["Title"] = "لیست مطالب";
    string returnUrl = Context.Request.Path;
    var numberOfPages = Convert.ToInt32(ViewData["NumberOfPages"]);
    var pageSize = Convert.ToInt32(ViewData["PageSize"]);
    var pageNumber = Convert.ToInt16(ViewData["PageNumber"]);
    var pageOrder = ViewData["PageOrder"].ToString();
    var pageSizeList = new List<int>() { 10, 15, 25, 50, 150 };
    var contentOrderDic = new Dictionary<string, string>() { 
        {"title_Asc","عنوان - صعودی"}, {"title_Desc","عنوان - نزولی"},
        {"status_Asc","وضعیت - صعودی" }, {"status_Desc","وضعیت - نزولی" },
        {"date_Asc","تاریخ - صعودی" }, {"date_Desc","تاریخ - نزولی" }, 
        {"writerName_Asc","نام نویسنده - صعودی" }, 
        {"writerName_Desc","نام نویسنده - نزولی" }};
}

<div class="row d-flex justify-content-center">
    <div class="col-md-12 card">
        <div class="row d-flex justify-content-between card-header align-items-center">
            <h3 class="title-5 ">مطالب</h3>
            <div>
                <a class="btn btn-warning" asp-controller="Content" asp-action="Add">
                    <i class="zmdi zmdi-plus"> افزودن </i>
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="alert alert-danger" role="alert"
                     asp-validation-summary="All" id="divSummary">
                </div>
            </div>

            @if (Model.Any())
            {
                <div class="row mb-3 justify-content-end">
                    <div class="chart-info-right">
                        <div class="rs-select2--dark rs-select2--sm">
                            <select type="submit" class="js-select2 au-select-dark"
                                    id="pageSizeSelect">
                                @if (!pageSizeList.Contains(pageSize))
                                {
                                    <option value="?pageNumber=@pageNumber&pageSize=@pageSize&orderBy=@pageOrder"
                                            selected="selected">
                                        @pageSize
                                    </option>
                                }
                                @foreach (var item in pageSizeList)
                                {
                                    if (pageSize == item)
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@item&orderBy=@pageOrder"
                                                selected="selected">
                                            @item
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@item&orderBy=@pageOrder">
                                            @item
                                        </option>
                                    }
                                }
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--dark rs-select2--sm" style="width:11rem;">
                            <select class="js-select2 au-select-dark" id="contentOrderSelect">
                                @foreach (var item in contentOrderDic)
                                {
                                    if (pageOrder == item.Key)
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@pageSize&orderBy=@item.Key"
                                                selected="selected">
                                            @item.Value
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@pageSize&orderBy=@item.Key">
                                            @item.Value
                                        </option>
                                    }
                                }
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2 table-hover">
                            <thead>
                                <tr class="tr-shadow row">
                                    <th class="col-3">عنوان</th>
                                    <th class="col-2">نام نویسنده</th>
                                    <th class="col-1">وضعیت</th>
                                    <th class="col-2">تاریخ انتشار</th>
                                    <th class="col-2">جایگاه انتشار</th>
                                    <th class="col-2"></th>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="spacer"></tr>
                            </thead>
                            <tbody>
                                @foreach (var item in @Model)
                                {
                                    <tr class="tr-shadow row align-items-center">
                                        <td class="col-3">
                                            @item.Title
                                        </td>

                                        <td class="col-2">
                                            @item.WriterName
                                        </td>


                                        @if (item.ContentStatus == ContentStatus.Published)
                                        {
                                            <td class="col-1">منتشر شده</td>
                                        }
                                        else if (item.ContentStatus == ContentStatus.Deleted)
                                        {
                                            <td class="col-1">لغو انتشار</td>
                                        }
                                        else if (item.ContentStatus == ContentStatus.Waiting)
                                        {
                                            <td class="col-1">در انتظار انتشار</td>
                                        }


                                        <td class="col-2">

                                            @item.PublishDate.ToString("%H:%m:%s %yy/%M/%d")
                                        </td>
                                        <td class="col-2">
                                            @foreach (var places in item.PublishPlaces)
                                            {
                                                <span class="mr-1 p-1 d-inline">@places.Name , </span>
                                            }
                                        </td>

                                        <td class="col-2">
                                            <form method="post" asp-controller="Content">
                                                <div class="table-data-feature">
                                                    @if (item.ContentStatus != ContentStatus.Published)
                                                    {
                                                        <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="انتشار"
                                                                asp-action="ChangeToPublish" asp-route-id="@item.Id" asp-route-returnUrl="@returnUrl">
                                                            <i class="zmdi zmdi-mail-send"></i>
                                                        </button>
                                                    }
                                                    @if (item.ContentStatus != ContentStatus.Waiting)
                                                    {
                                                        <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="در انتظار انتشار"
                                                                asp-action="ChangeToWait" asp-route-id="@item.Id" asp-route-returnUrl="@returnUrl">
                                                            <i class="zmdi zmdi-pause"></i>
                                                        </button>
                                                    }
                                                    @if (item.ContentStatus != ContentStatus.Deleted)
                                                    {
                                                        <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="حذف انتشار"
                                                                asp-action="ChangeToDelete" asp-route-id="@item.Id" asp-route-returnUrl="@returnUrl">
                                                            <i class="zmdi zmdi-delete"></i>
                                                        </button>

                                                    }
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="ویرایش مطلب"
                                                       asp-controller="Content" asp-action="Update" asp-route-id="@item.Id">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </a>
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="نمایش"
                                                       asp-controller="Content" asp-action="Show" asp-route-id="@item.Id">
                                                        <i class="zmdi zmdi-more"></i>
                                                    </a>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                
                <div class="row justify-content-center mt-1">
                    <div>
                        @if (numberOfPages < 11)
                        {
                            for (int i = 1; i <= numberOfPages; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                            }
                        }
                        else
                        {
                            @for (int i = 1; i <= 2; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                            }

                            if (pageNumber <= 4)
                            {
                                for (int i = 3; i <= 5; i++)
                                {
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                }
                            }

                            <span> ... </span>
                            @if (pageNumber < (numberOfPages - 3) &&
                               pageNumber > 4)
                            {

                                @for (int i = pageNumber - 1; i <= pageNumber + 1; i++)
                                {
                                    if (i >= (numberOfPages - 1))
                                    {
                                        continue;
                                    }
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }

                                }






                                <span> ... </span>
                            }

                            if (pageNumber >= numberOfPages - 3)
                            {
                                for (int i = numberOfPages - 4; i <= numberOfPages - 2; i++)
                                {
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                }
                            }

                            @for (int i = numberOfPages - 1; i <= numberOfPages; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }

                            }
                        }
                    </div>
                </div>

            }

        </div>
    </div>
</div>


@section Scripts
{
    <script>
        $(function () {
            if ($("#divSummary ul li").html().length < 1)
            {
                $("#divSummary").addClass("d-none");
            }
            else {
                $("#divSummary").removeClass("d-none");
            }
            
            $("#pageSizeSelect").change(function () {
                var linke = $('option:selected', this).attr('value');
                location.href = linke ;
            });
            $("#contentOrderSelect").change(function () {
                var linke = $('option:selected', this).attr('value');
                location.href = linke ;
            });
            
        })
    </script>
}

