@model UpdateKeywordViewModel
@{
    ViewData["Title"] = "ویرایش کلید واژه";
}




@if (Model != null)
{

    <div class="row d-flex justify-content-center ">
        <div class="col-lg-6">
            <div class="card">
                <form method="post" asp-controller="Keyword" asp-action="Update" asp-route-KeywordId="@Model.KeywordId">
                    <div class="card-header">
                        <i class="fas fa-tag mx-1"></i>
                        <small>ویرایش</small>
                        <strong class="card-title pl-2">کلید واژه</strong>
                    </div>
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <h5 class="text-sm-center mt-2 mb-1">@Model.Name</h5>
                            <div class="form-group">
                                <label asp-for="@Model.Name" class="form-control-label"></label>
                                <input type="text" class="form-control" asp-for="@Model.Name" value="@Model.Name" required maxlength="50" autofocus >
                            </div>
                            <div class="form-group">
                                <div asp-validation-summary="All" class="text-danger mr-3"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer card-footer__button">
                        <input type="submit" class="btn btn-warning btn-sm px-3" value="ویرایش" />
                    </div>
                </form>
            </div>
        </div>
    </div>



}
else
{
    <div class="row d-flex justify-content-center">
        <div class="alert alert-danger" role="alert">
            کلید واژه یافت نشد!
        </div>
    </div>
}