@model List<Comment>
@{
    ViewData["Title"] = "لیست نظرات";
    string returnUrl = Context.Request.Path;
}



<div class="row d-flex justify-content-center card">
    <div class="col-md-12">
        <div class="row d-flex justify-content-start card-header align-items-center">
            <h3 class="title-5">نظرات</h3>
        </div>

        <div class="card-body">
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {

                    <div class="row d-flex flex-column">
                        <div class="form-group row justify-content-between">
                            <div class="col-8  d-flex flex-column">
                                <span>@item.Name</span>
                                <span>@item.Email</span>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                    @if (item.CanShow)
                                    {
                                        <a class="btn btn-dark"
                                   asp-controller="Comment" asp-action="ChangeStatus" asp-route-returnUrl="@returnUrl"
                                   asp-route-id="@item.Id" asp-route-status="@(!(item.CanShow))">
                                        <i class="zmdi zmdi-close"> عدم نمایش </i>
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-warning"
                                   asp-controller="Comment" asp-action="ChangeStatus" asp-route-returnUrl="@returnUrl"
                                   asp-route-id="@item.Id" asp-route-status="@(!(item.CanShow))">
                                        <i class="zmdi zmdi-check"> نمایش </i>
                                        </a>
                                    }
                              
                            </div>
                        </div>
                        <div class="form-group">
                            <span>@item.Opinion</span> &nbsp;
                        </div>
                    </div>
                    <hr />
                }


            }
            else
            {
                <div class="row d-flex justify-content-center">
                    <div class="alert alert-danger" role="alert">
                        نظری یافت نشد!
                    </div>
                </div>
            }
        </div>
    
    </div>
</div>


