@model List<Comment>
@{
    ViewData["Title"] = "لیست نظرات";
    string returnUrl = Context.Request.Path;
    var numberOfPages = Convert.ToInt32(ViewData["NumberOfPages"]);
    var pageSize = Convert.ToInt32(ViewData["PageSize"]);
    var pageNumber = Convert.ToInt16(ViewData["PageNumber"]);
}



<div class="row d-flex justify-content-center card">
    <div class="col-md-12">
        <div class="row d-flex justify-content-start card-header align-items-center">
            <h3 class="title-5">نظرات</h3>
        </div>

        <div class="card-body">
            @if (Model.Any())
            {
                @foreach (var item in Model)
                {

                    <div class="row d-flex flex-column">
                        <div class="form-group row justify-content-between">
                            <div class="col-8  d-flex flex-column">
                                <span>@item.Name</span>
                                <span>@item.Email</span>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                @if (item.CanShow)
                                {
                                    <a class="btn btn-dark"
                                       asp-controller="Comment" asp-action="ChangeStatus" asp-route-returnUrl="@returnUrl"
                                       asp-route-id="@item.Id" asp-route-status="@(!(item.CanShow))">
                                        <i class="zmdi zmdi-close"> عدم نمایش </i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-warning"
                                       asp-controller="Comment" asp-action="ChangeStatus" asp-route-returnUrl="@returnUrl"
                                       asp-route-id="@item.Id" asp-route-status="@(!(item.CanShow))">
                                        <i class="zmdi zmdi-check"> نمایش </i>
                                    </a>
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <span>@item.Opinion</span> &nbsp;
                        </div>
                    </div>
                    <hr />
                }


                <div class="row justify-content-center mt-1">
                    <div>
                        @if (numberOfPages < 11)
                        {
                            for (int i = 1; i <= numberOfPages; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize">
                                        @i
                                    </a>
                                }
                            }
                        }
                        else
                        {
                            @for (int i = 1; i <= 2; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize">
                                        @i
                                    </a>
                                }
                            }

                            if (pageNumber <= 4)
                            {
                                for (int i = 3; i <= 5; i++)
                                {
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize">
                                            @i
                                        </a>
                                    }
                                }
                            }

                            <span> ... </span>
                            @if (pageNumber < (numberOfPages - 3) &&
                               pageNumber > 4)
                            {

                                @for (int i = pageNumber - 1; i <= pageNumber + 1; i++)
                                {
                                    if (i >= (numberOfPages - 1))
                                    {
                                        continue;
                                    }
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize">
                                            @i
                                        </a>
                                    }

                                }






                                <span> ... </span>
                            }

                            if (pageNumber >= numberOfPages - 3)
                            {
                                for (int i = numberOfPages - 4; i <= numberOfPages - 2; i++)
                                {
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="Content"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize">
                                            @i
                                        </a>
                                    }
                                }
                            }

                            @for (int i = numberOfPages - 1; i <= numberOfPages; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="Content"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize">
                                        @i
                                    </a>
                                }

                            }
                        }
                    </div>
                </div>


            }
            else
            {
                <div class="row d-flex justify-content-center">
                    <div class="alert alert-danger" role="alert">
                        نظری یافت نشد!
                    </div>
                </div>
            }
        </div>
    
    </div>
</div>


