@model List<Comment>
@{
    ViewData["Title"] = "لیست نظرات";
    string returnUrl = Context.Request.Path;
    var numberOfPages = Convert.ToInt32(ViewData["NumberOfPages"]);
    var pageSize = Convert.ToInt32(ViewData["PageSize"]);
    var pageNumber = Convert.ToInt16(ViewData["PageNumber"]);
    var pageOrder = ViewData["PageOrder"].ToString();
    var pageSizeList = new List<int>() { 10, 15, 25, 50, 150 };
    var commentOrderDic = new Dictionary<string, string>() {
        {"date_Asc","تاریخ - صعودی" }, {"date_Desc","تاریخ - نزولی" },
        {"show_Asc","وضعیت - صعودی"}, {"show_Desc","وضعیت - نزولی"},
        {"userName_Asc","نام - صعودی" }, {"userName_Desc","نام - نزولی" },
        {"Email_Asc","ایمیل - صعودی" }, {"Email_Desc","ایمیل - نزولی" },
    };
}



<div class="row d-flex justify-content-center card">
    <div class="col-md-12">
        <div class="row d-flex justify-content-start card-header align-items-center">
            <h3 class="title-5">نظرات</h3>
        </div>

        <div class="card-body">
            @if (Model.Any())
            {

                <div class="row mb-3 justify-content-end">
                    <div class="chart-info-right">
                        <div class="rs-select2--dark rs-select2--sm">
                            <select type="submit" class="js-select2 au-select-dark"
                                    id="pageSizeSelect">
                                @if (!pageSizeList.Contains(pageSize))
                                {
                                    <option value="?pageNumber=@pageNumber&pageSize=@pageSize&orderBy=@pageOrder"
                                            selected="selected">
                                        @pageSize
                                    </option>
                                }
                                @foreach (var item in pageSizeList)
                                {
                                    if (pageSize == item)
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@item&orderBy=@pageOrder"
                                                selected="selected">
                                            @item
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@item&orderBy=@pageOrder">
                                            @item
                                        </option>
                                    }
                                }
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--dark rs-select2--sm" style="width:11rem;">
                            <select class="js-select2 au-select-dark" id="commentOrderSelect">
                                @foreach (var item in commentOrderDic)
                                {
                                    if (pageOrder == item.Key)
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@pageSize&orderBy=@item.Key"
                                                selected="selected">
                                            @item.Value
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@pageSize&orderBy=@item.Key">
                                            @item.Value
                                        </option>
                                    }
                                }
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>



                @foreach (var item in Model)
                {

                    <div class="row d-flex flex-column">
                        <div class="form-group row justify-content-between">
                            <div class="col-8  d-flex flex-column">
                                <span>@item.Name</span>
                                <span>@item.Email</span>
                            </div>
                            <div class="col-3 d-flex justify-content-center align-items-center">
                                @if (item.CanShow)
                                {
                                    <a class="btn btn-dark"
                                       asp-controller="Comment" asp-action="ChangeStatus" asp-route-returnUrl="@returnUrl"
                                       asp-route-id="@item.Id" asp-route-status="@(!(item.CanShow))">
                                        <i class="zmdi zmdi-close"> عدم نمایش </i>
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-warning"
                                       asp-controller="Comment" asp-action="ChangeStatus" asp-route-returnUrl="@returnUrl"
                                       asp-route-id="@item.Id" asp-route-status="@(!(item.CanShow))">
                                        <i class="zmdi zmdi-check"> نمایش </i>
                                    </a>
                                }

                            </div>
                        </div>
                        <div class="form-group">
                            <span>@item.Opinion</span> &nbsp;
                        </div>
                    </div>
                    <hr />
                }


                <div class="row justify-content-center mt-1">
                    <div>
                        @if (numberOfPages < 11)
                        {
                            for (int i = 1; i <= numberOfPages; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="Comment"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="Comment"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                            }
                        }
                        else
                        {
                            @for (int i = 1; i <= 2; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="Comment"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="Comment"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                            }

                            if (pageNumber <= 4)
                            {
                                for (int i = 3; i <= 5; i++)
                                {
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="Comment"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="Comment"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                }
                            }

                            <span> ... </span>
                            @if (pageNumber < (numberOfPages - 3) &&
                            pageNumber > 4)
                            {

                                @for (int i = pageNumber - 1; i <= pageNumber + 1; i++)
                                {
                                    if (i >= (numberOfPages - 1))
                                    {
                                        continue;
                                    }
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="Comment"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="Comment"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }

                                }






                                <span> ... </span>
                            }

                            if (pageNumber >= numberOfPages - 3)
                            {
                                for (int i = numberOfPages - 4; i <= numberOfPages - 2; i++)
                                {
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="Comment"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="Comment"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                }
                            }

                            @for (int i = numberOfPages - 1; i <= numberOfPages; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="Comment"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="Comment"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }

                            }
                        }
                    </div>
                </div>


            }
            else
            {
                <div class="row d-flex justify-content-center">
                    <div class="alert alert-danger" role="alert">
                        نظری یافت نشد!
                    </div>
                </div>
            }
        </div>

    </div>
</div>



@section Scripts
{
    <script>
        $(function () {

            $("#pageSizeSelect").change(function () {
                var linke = $('option:selected', this).attr('value');
                location.href = linke ;
            });
            $("#commentOrderSelect").change(function () {
                var linke = $('option:selected', this).attr('value');
                location.href = linke ;
            });
        });
    </script>
}