@model List<User>

@{
    ViewData["Title"] = "لیست کاربر";

}


<div class="row d-flex justify-content-center">
    <div class="col-md-9 card">
        <div class="row d-flex justify-content-between card-header align-items-center">
            <h3 class="title-5">کاربر ها</h3>
            <div>
                <a class="btn btn-warning" asp-controller="User" asp-action="Add">
                    <i class="zmdi zmdi-plus"> افزودن </i>
                </a>
            </div>
        </div>
        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="alert alert-danger" role="alert"
                     asp-validation-summary="All" id="divSummary">
                </div>
            </div>
            @if (Model.Any())
            {


                <div class="row">
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2 table-hover">
                            <thead>
                                <tr class="tr-shadow row">
                                    <th class="col-2">نام</th>
                                    <th class="col-2">نام کاربری</th>
                                    <th class="col-3">ایمیل</th>
                                    <th class="col-3"></th>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="spacer"></tr>

                            </thead>
                            <tbody>
                                @foreach (var item in @Model)
                                {
                                <tr class="tr-shadow row align-items-center">
                                    <td class="col-2">@(string.Format("{0} {1}", item.FirstName, item.LastName))</td>
                                    <td class="col-2">@item.UserName</td>
                                    <td class="col-3">@item.Email</td>
                                    <td class="col-3">
                                        <div class="table-data-feature">
                                            <a class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="ویرایش کاربر" type="submit"
                                               asp-controller="User" asp-action="Update" asp-route-id="@item.Id">
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                            <a class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="افزودن نقش" type="submit"
                                               asp-controller="User" asp-action="AddUserToRoles" asp-route-id="@item.Id">
                                                <i class="zmdi zmdi-plus"></i>
                                            </a>
                                            <a class="item" data-toggle="tooltip" data-placement="top" title="نقش های کاربر" data-original-title="نقش های کاربر" type="button"
                                               asp-controller="User" asp-action="GetUserRoles" asp-route-userName="@item.UserName">
                                                <i class="zmdi zmdi-more"></i>
                                            </a>
                                            <form asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" method="post">
                                                <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="حذف کاربر" data-original-title="حذف کاربر" type="button">
                                                    <i class="zmdi zmdi-delete"></i>
                                                </button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                                    <tr class="spacer"></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            }

        </div>

    </div>
</div>




@section Scripts
{
    <script>
        $(function () {
            if ($("#divSummary ul li").html().length < 1)
            {
                $("#divSummary").addClass("d-none");
            }
            else {
                $("#divSummary").removeClass("d-none");
            }
        })
    </script>
}







