@model List<DtoWriter>
@{
    ViewData["Title"] = "لیست نویسنده";

}

@if (Model != null)
{

    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="row d-flex justify-content-between">
                <h3 class="title-5 m-b-35">نویسنده ها</h3>
                <div>
                    <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-controller="Writer" asp-action="Add">
                        <i class="zmdi zmdi-plus"></i>افزودن
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2">
                        <thead>
                            <tr>
                                <th class="col-3">تصویر</th>
                                <th class="col-3">نام</th>
                                <th class="col-1">تعداد مطالب</th>
                                <th class="col-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model)
                            {
                                <tr class="tr-shadow">
                                    <td class="col-3">
                                        @if (item.PhotoUrl == null)
                                        {
                                            <img class="rounded-circle mx-auto d-block" style="width: 100px;height: 100px;" src="/files/profilePhotoNotFound.png" alt="Card image cap" />
                                        }
                                        else
                                        {
                                            <img class="rounded-circle mx-auto d-block" style="width: 100px;height: 100px;" src="@item.PhotoUrl" alt="Card image cap" />
                                        }
                                    </td>
                                    <td class="col-3">@item.Name</td>
                                    <td class="col-1">@item.CountOfContent</td>

                                    <td class="col-2">
                                        <div class="table-data-feature">

                                            <a class="item" data-toggle="tooltip" data-placement="top" title="" data-original-title="ویرایش" type="submit"
                                               asp-controller="Writer" asp-action="Update" asp-route-id="@item.Id">
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                            <a class="item" data-toggle="tooltip" data-placement="top" title="اطلاعات" data-original-title="اطلاعات" type="button"
                                               asp-controller="Writer" asp-action="Detail" asp-route-id="@item.Id">
                                                <i class="zmdi zmdi-more"></i>
                                            </a>

                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    
}
else
{
    <div class="row d-flex justify-content-center">
        <div class="alert alert-danger" role="alert">
            نویسنده ای یافت نشد!
        </div>
    </div>
}

