@model EditWriterViewModel
@{
    ViewData["Title"] = "ویرایش نویسنده";
    string photoUrl = (Model != null && Model.PhotoUrl != null) ? Model.PhotoUrl : "/images/profilePhotoNotFound.png";

}




@if (Model != null)
{

    <div class="row d-flex justify-content-center ">
        <div class="col-lg-6">
            <div class="card">
                <div class="card-header">
                    <i class="fas fa-user mx-1"></i>
                    <small>ویرایش اطلاعات</small>
                    <strong class="card-title pl-2">نویسنده</strong>
                </div>
                <form method="post" enctype="multipart/form-data" asp-controller="Writer" asp-action="Update" asp-route-Id="@Model.Id">
                    <div class="card-body">
                        <div class="mx-auto d-block">
                            <img class="rounded-circle mx-auto d-block" style="width:150px;height:150px;" src="@photoUrl" alt="Card image cap" />
                            <h5 class="text-sm-center mt-2 mb-1">@Model.Name</h5>
                            <hr>

                            <div class="form-group">
                                <label asp-for="@Model.File" class="form-control-label"></label>
                                <input type="file" class="form-control" autofocus asp-for="@Model.File">
                            </div>
                            <div class="form-group">
                                <label asp-for="@Model.Name" class="form-control-label"></label>
                                <input type="text" class="form-control" asp-for="@Model.Name" value="@Model.Name" maxlength="30">
                            </div>
                            <div class="form-group">
                                <div asp-validation-summary="All" class="text-danger mr-3"></div>
                            </div>


                        </div>
                    </div>
                    <div class="card-footer card-footer__button">
                        <input type="submit" class="btn btn-warning btn-sm px-3" value="ویرایش" />
                    </div>
                </form>

            </div>
        </div>
    </div>



}
else
{
    <div class="row d-flex justify-content-center">
        <div class="alert alert-danger" role="alert">
            نویسنده یافت نشد!
        </div>
    </div>
}