@model List<FileManagement>
@{
    ViewData["Title"] = "لیست فایل";
    var numberOfPages = Convert.ToInt32(ViewData["NumberOfPages"]);
    var pageSize = Convert.ToInt32(ViewData["PageSize"]);
    var pageNumber = Convert.ToInt16(ViewData["PageNumber"]);
    var pageOrder = ViewData["PageOrder"].ToString();
    var pageSizeList = new List<int>() { 10, 15, 25, 50, 150 };
    var fileOrderDic = new Dictionary<string, string>() { 
        {"name_Asc","نام - صعودی"}, {"name_Desc","نام - نزولی"},
        {"size_Asc","اندازه - صعودی" }, {"size_Desc","اندازه - نزولی" },
        {"date_Asc","تاریخ - صعودی" }, {"date_Desc","تاریخ - نزولی" }, 
        {"type_Asc","نوع فایل - صعودی" }, 
        {"type_Desc","نوع فایل - نزولی" }};
}


<div class="row d-flex justify-content-center">
    <div class="col-md-12 card">
        <div class="row d-flex justify-content-between card-header align-items-center">
            <h3 class="title-5">فایل ها</h3>
            <div>
                <a class="btn btn-warning" asp-controller="FileManager" asp-action="Add">
                    <i class="zmdi zmdi-plus"> افزودن </i>
                </a>
            </div>
        </div>

        <div class="card-body">
            <div class="row d-flex justify-content-center">
                <div class="alert alert-danger" role="alert"
                     asp-validation-summary="All" id="divSummary">
                </div>
            </div>

            @if (Model.Any())
            {
                <div class="row mb-3 justify-content-end">
                    <div class="chart-info-right">
                        <div class="rs-select2--dark rs-select2--sm">
                            <select type="submit" class="js-select2 au-select-dark"
                                    id="pageSizeSelect">
                                @if (!pageSizeList.Contains(pageSize))
                                {
                                    <option value="?pageNumber=@pageNumber&pageSize=@pageSize&orderBy=@pageOrder"
                                            selected="selected">
                                        @pageSize
                                    </option>
                                }
                                @foreach (var item in pageSizeList)
                                {
                                    if (pageSize == item)
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@item&orderBy=@pageOrder"
                                                selected="selected">
                                            @item
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@item&orderBy=@pageOrder">
                                            @item
                                        </option>
                                    }
                                }
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                        <div class="rs-select2--dark rs-select2--sm" style="width:11rem;">
                            <select class="js-select2 au-select-dark" id="fileOrderSelect">
                                @foreach (var item in fileOrderDic)
                                {
                                    if (pageOrder == item.Key)
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@pageSize&orderBy=@item.Key"
                                                selected="selected">
                                            @item.Value
                                        </option>
                                    }
                                    else
                                    {
                                        <option value="?pageNumber=@pageNumber&pageSize=@pageSize&orderBy=@item.Key">
                                            @item.Value
                                        </option>
                                    }
                                }
                            </select>
                            <div class="dropDownSelect2"></div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="table-responsive table-responsive-data2">
                        <table class="table table-data2 table-hover">
                            <thead>
                                <tr class="tr-shadow row">
                                    <th class="col-2">فایل</th>
                                    <th class="col-2">نام</th>
                                    <th class="col-2">تاریخ</th>
                                    <th class="col-2">نوع</th>
                                    <th class="col-1">اندازه فایل</th>
                                    <th class="col-2"></th>
                                </tr>
                                <tr class="spacer"></tr>
                                <tr class="spacer"></tr>

                            </thead>
                            <tbody>
                                @foreach (var item in @Model)
                                {
                                    <tr class="tr-shadow row align-items-center">
                                        <td class="col-2 d-flex justify-content-center">
                                            @if (item.Type.Contains("image"))
                                            {
                                                <img class="rounded-circle d-block" style="width: 100px;height: 100px;" src="@item.Url" alt="تصویر" />
                                            }
                                            else if (item.Type.Contains("audio"))
                                            {
                                                <i class="zmdi zmdi-audio display-3"></i>
                                            }
                                            else if (item.Type.Contains("text"))
                                            {
                                                <i class="zmdi zmdi-file-text display-3"></i>
                                            }
                                            else if (item.Type.Contains("video"))
                                            {
                                                <i class="zmdi zmdi-videocam display-3"></i>
                                            }
                                            else
                                            {
                                                <i class="zmdi zmdi-file display-3"></i>
                                            }
                                        </td>
                                        <td class="col-2 ">@item.Name</td>
                                        <td class="col-2">@item.Date.ToString("%H:%m:%s %yy/%M/%d")</td>
                                        <td class="col-2 tableOverflow">@item.Type</td>
                                        <td class="col-1">@(item.Size / 1024)KB</td>
                                        <td class="col-2">
                                            <form method="post" asp-controller="FileManager">
                                                <div class="table-data-feature">
                                                    <button type="submit" class="item" data-toggle="tooltip" data-placement="top" title="حذف" data-original-title="حذف" type="submit"
                                                            asp-action="Remove" asp-route-id="@item.Id" asp-route-Url="@item.Url">
                                                        <i class="zmdi zmdi-delete"></i>
                                                    </button>
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="ویرایش" data-original-title="ویرایش" type="submit"
                                                       asp-controller="FileManager" asp-action="Update" asp-route-id="@item.Id">
                                                        <i class="zmdi zmdi-edit"></i>
                                                    </a>
                                                    <a class="item" data-toggle="tooltip" data-placement="top" title="نمایش" data-original-title="نمایش" type="button"
                                                       href="@item.Url" target="_blank">
                                                        <i class="zmdi zmdi-open-in-new"></i>
                                                    </a>
                                                </div>
                                            </form>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="row justify-content-center mt-1">
                    <div>
                        @if (numberOfPages < 11)
                        {
                            for (int i = 1; i <= numberOfPages; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="FileManager"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="FileManager"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                            }
                        }
                        else
                        {
                            @for (int i = 1; i <= 2; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="FileManager"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="FileManager"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                            }

                            if (pageNumber <= 4)
                            {
                                for (int i = 3; i <= 5; i++)
                                {
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="FileManager"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="FileManager"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                }
                            }

                            <span> ... </span>
                            @if (pageNumber < (numberOfPages - 3) &&
                              pageNumber > 4)
                            {

                                @for (int i = pageNumber - 1; i <= pageNumber + 1; i++)
                                {
                                    if (i >= (numberOfPages - 1))
                                    {
                                        continue;
                                    }
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="FileManager"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="FileManager"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }

                                }






                                <span> ... </span>
                            }

                            if (pageNumber >= numberOfPages - 3)
                            {
                                for (int i = numberOfPages - 4; i <= numberOfPages - 2; i++)
                                {
                                    if (pageNumber == i)
                                    {
                                        <a class="btn btn-dark" asp-controller="FileManager"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-dark btn-sm" asp-controller="FileManager"
                                           asp-action="List" asp-route-pageNumber="@i"
                                           asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                            @i
                                        </a>
                                    }
                                }
                            }

                            @for (int i = numberOfPages - 1; i <= numberOfPages; i++)
                            {
                                if (pageNumber == i)
                                {
                                    <a class="btn btn-dark" asp-controller="FileManager"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }
                                else
                                {
                                    <a class="btn btn-dark btn-sm" asp-controller="FileManager"
                                       asp-action="List" asp-route-pageNumber="@i"
                                       asp-route-pageSize="@pageSize" asp-route-orderBy="@pageOrder">
                                        @i
                                    </a>
                                }

                            }
                        }
                    </div>
                </div>
            
            }
        </div>
    </div>
</div>



@section Scripts
{
    <script>
        $(function () {
            if ($("#divSummary ul li").html().length < 1)
            {
                $("#divSummary").addClass("d-none");
            }
            else {
                $("#divSummary").removeClass("d-none");
            }
            
            $("#pageSizeSelect").change(function () {
                var linke = $('option:selected', this).attr('value');
                location.href = linke ;
            });
            $("#fileOrderSelect").change(function () {
                var linke = $('option:selected', this).attr('value');
                location.href = linke ;
            });
        })
    </script>
}

