@model List<FileManagement>
@{
    ViewData["Title"] = "لیست فایل";

}

@if (Model != null)
{

    <div class="row d-flex justify-content-center">
        <div class="col-md-9">
            <div class="row d-flex justify-content-between">
                <h3 class="title-5 m-b-35">فایل ها</h3>
                <div>
                    <a class="au-btn au-btn-icon au-btn--green au-btn--small" asp-controller="FileManager" asp-action="Add">
                        <i class="zmdi zmdi-plus"></i>افزودن
                    </a>
                </div>
            </div>
            <div class="row">
                <div class="table-responsive table-responsive-data2">
                    <table class="table table-data2 table-hover">
                        <thead>
                            <tr class="row">
                                <th class="col-3">فایل</th>
                                <th class="col-1">تاریخ</th>
                                <th class="col-2">نام</th>
                                <th class="col-2">نوع</th>
                                <th class="col-1">اندازه فایل</th>
                                <th class="col-3"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in @Model)
                            {
                            <tr class="tr-shadow row align-items-center">
                                <td class="col-3">
                                    @if (item.Type.Contains("image"))
                                    {
                                        <img class="rounded-circle mx-auto d-block" style="width: 100px;height: 100px;" src="@item.Url" alt="Card image cap" />
                                    }
                                    else if (item.Type.Contains("audio"))
                                    {
                                        <i class="zmdi zmdi-audio display-3" style="margin: auto 3.5rem !important;" ></i>
                                    }
                                    else if (item.Type.Contains("text"))
                                    {
                                        <i class="zmdi zmdi-file-text display-3" style="margin: auto 3.5rem !important;" ></i>
                                    }
                                    else if (item.Type.Contains("video"))
                                    {
                                        <i class="zmdi zmdi-videocam display-3" style="margin: auto 3.5rem !important;"  ></i>
                                    }
                                    else
                                    {
                                        <i class="zmdi zmdi-file display-3" style="margin: auto 3.5rem !important;" ></i>
                                    }                                   
                                </td>
                                <td class="col-1">@item.Date</td>
                                <td class="col-2 ">@item.Name</td>
                                <td class="col-2 tableOverflow">@item.Type</td>
                                <td class="col-1">@(item.Size/1024)KB</td>
                                <td class="col-3">
                                    <div class="table-data-feature">
                                        <a class="item" data-toggle="tooltip" data-placement="top" title="حذف" data-original-title="حذف" type="submit"
                                           asp-controller="FileManager" asp-action="Remove" asp-route-id="@item.Id" asp-route-Url="@item.Url">
                                            <i class="zmdi zmdi-delete"></i>
                                        </a>
                                        <a class="item" data-toggle="tooltip" data-placement="top" title="ویرایش" data-original-title="ویرایش" type="submit"
                                           asp-controller="FileManager" asp-action="Update" asp-route-id="@item.Id">
                                            <i class="zmdi zmdi-edit"></i>
                                        </a>
                                        <a class="item" data-toggle="tooltip" data-placement="top" title="نمایش" data-original-title="نمایش" type="button"
                                           href="@item.Url" target="_blank">
                                            <i class="zmdi zmdi-open-in-new"></i>
                                        </a>
                                    </div>
                                </td>
                            </tr>
                                <tr class="spacer"></tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

}
else
{
    <div class="row d-flex justify-content-center">
        <div class="alert alert-danger" role="alert">
            فایل ای یافت نشد!
        </div>
    </div>
}

